@import "tailwindcss";

@theme {
    --color-primary: var(--color-white);
    --color-secondary: var(--color-slate-950);
    --color-tertiary: var(--color-amber-300);
}

* {
    box-sizing: border-box;
    font-family: system-ui, Helvetica, Arial, sans-serif;
}

html,
body {
    width: 100%;
    height: 100%;
}

p {
    @apply text-2xl text-transparent transition-colors duration-300;
}

p.view {
    @apply text-2xl text-black;
}
